body {
  padding: 0;
  margin: 0;
  color: #FF5D73;
}

/* canvas {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: pink;
  margin-bottom: -3px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);
} */

#audio_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


button, form a {
    background-color: #0088cc;
    background-image: linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    color: white;
    border: none;
    width: 20%;
    margin: 1rem auto 0.5rem;
    max-width: 80%;
    font-size: 1.6rem;
    line-height: 3rem;
    padding: .5rem;
    display: block;
}

button:hover, button:focus, form a:hover, form a:focus {
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.7);
}

button:active, form a:active {
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.7);
}

a#activated {
  background-color: #fff;
  background-image: linear-gradient(to bottom,  #f00 0%,#a06 100%);
}
